@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "cooper-black";
  src: url(../fuentes/cooper-black.otf);
}

/*COLORES*/

:root {
  --color1: #ffffff;
  --color2: #000000;
  --color3: #66462C;
}

.text-color1{
  color: var(--color1);
  font-family: "cooper-black";
}

.bg-color1{
  background: var(--color1);
}

.text-color2{
  color: var(--color1);
  font-family: "Arial";
}

.bg-color2{
  background: var(--color2);
}

.bg-color3{
  background: var(--color3);
}

/*HEADER*/
.navbar-nav .nav-item:hover .nav-link{
  color: #fff !important;
  background-color: #66462C !important;
}

.dropdown-item:hover{
  color: #fff !important;
  background-color: #66462C !important;
}

.navbar-nav .nav-item .nav-link:hover svg,
.navbar-nav .nav-item .nav-link:focus svg {
  fill: #66462C;
}

.nav-item > a{
  font-size: 1rem;
}

.nav-item:hover{
  background-color: #66462C;
}


.dropdown-item:hover{
  background-color: #66462C;
}

#botones_tienda_escritorio {
  display: flex;
  align-items: center;
}
#botones_tienda_escritorio img {
  margin: 0 5px;
}

/*BOTONES TIENDA*/
#botones_tienda_escritorio{
  width: 100px; 
  text-align: right;
}

#botones_tienda_smartphone{
  visibility: hidden;
  text-align: right;
  width: 90px;
}

#botones_tienda_escritorio a img{
  width: 30px;
}

#botones_tienda_smartphone a img{
  width: 30px;
}

.tiendaBoton > .mostrar{
  display: none !important;
}

.tiendaBoton:hover > .mostrar{
  display: block !important;
}

@media (max-width: 992px) {
  .tiendaBoton > .mostrar{
    display: none !important;
  }
  
  .tiendaBoton:hover > .mostrar{
    display: block !important;
  }
  
  img.logotipo{
    width: 5rem;
    width: 10rem;
    padding-left: 3rem;
  }

  #botones_tienda_escritorio{
    visibility: visible;
  }

  #botones_tienda_escritorio img{
    display: none;
  }
  
  #botones_tienda_smartphone{
    visibility: visible;
    float: right;
  }

  #botones_tienda_smartphone img {
    width: 2rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
  }
}
#botones_tienda_smartphone a {
  margin-right: 0.5rem;
  display: block;
  margin-bottom: 1rem;
}

#botones_tienda_escritorio a, 
#botones_tienda_escritorio img{
  display: inline-block;
  vertical-align: middle;
}
/*HOVER IMAGENES*/
.hoverable:hover {
  opacity: 0.9;
  background-color: #66462C;
  transition: opacity 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

/*MENU*/
@media (min-width: 992px){
.mb-lg-0 {
    margin-right: 5;
}
}

.nav-item{
  padding: 0.1rem;
  font-size: 20rem;
  margin-right: 1.1rem;
}

/*index.php*/
/*BANNER*/

.ms-5{
  padding-left: 5vw;
}

@media (min-width:501px){
  #banner_principal{
    background-image:url("../views/imagenes/banner.webp");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    padding: 0;
    width: 100%;
  }
  
  #quienessomos{
    margin-left: 2rem;
  }
  
  .banner{
    background: rgba(29, 29, 29, 0.6);
    padding: 7%;
  }
}

.seccionvideo {
  max-width: 75%;
  margin: 0 auto;
  padding: 20px;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.video img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.botoncito > a{
  text-decoration: none;
  color: white;
}

.botoncito > a:hover{
  text-decoration: none;
  color: white;
}

.botoncito{
  width: 160px;
  height: 36px;
  border-radius: 0px;
  font-size:1rem;
  font-family: arial;
  margin:auto;
  text-align: center;
  background-color:#66462C;
  color: white;
  position: absolute;
  z-index: 1;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.contenedor {
  position: relative;
  max-width: 100%;
}

.botoncito:hover{
  background-color:#6d5846;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  width: 75px;
  height: 75px;
  display: none;
}

.logo:hover{
  background-color:#ffffff;
}

/* Pagina inicio responsive */
@media (max-width: 500px) {
  #banner_principal{
    background-image:url("../views/imagenes/banner.webp");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    padding: 0;
    width: 100%;
    }
  
  .banner{
    background: rgba(29, 29, 29, 0.5);
    padding: 7%;
  }
  
  .iconito{
    padding-left: 3rem;
    background-size: 100% 100%;
  }

  .ladoimagen{
    text-align: left;
    padding-right:3rem;
    margin-top:2rem;
  }
  .ladoimagen2{
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .ladoimagen2_2{
    text-align: left;
    margin-bottom: 1rem;
  }
  
  
}
  /*icono jamon*/
.iconito{
  float:left;
  padding-left: 3rem;
}
  /*h2 del lado del icono*/
.ladoimagen{
  display: inline-block;
  padding-left:1rem;
  width:21rem;
  height:3.5rem;
}
  /*p debajo del lado del icono*/
.ladoimagen2{
  display: inline-block;
  padding-left: 1rem;
  width: 20rem;
  height: 10rem;
}

.ladoimagen2_2{
  display: inline-block;
  padding-left: 1rem;
  width: 20rem;
  height: 10rem;
}

/* productos destacados */
.productoimg{
  width: 15vw;
  max-width: 100%;
  height: auto;
}

.descripcion{
  margin:0px;
}

@media (max-width: 500px){
  .container-xxl.productos{
    width: 100%;
    height: auto;
    padding-right: 2.5rem;
  }

  .container-xxl.producto{
    width: 100%;
    height: auto;
    padding-right: 2.5rem;
  }

  .productoimg{
    width: 40vw;
    max-width: 100%;
    height: auto;
  }

  .descripcion{
    margin:0px;
    margin-top:0px;
  }

}

.vermas > a{
  text-decoration: none;
  color: white;
}

.vermas > a:hover{
  text-decoration: none;
  color: white;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: none;
}

.vermas{
  width: 160px;
  height: 36px;
  border-radius: 0px;
  font-size:1rem;
  font-family: arial;
  margin:auto;
  text-align: center;
  background-color:#66462C;
  color: white;
}

.vermas:hover{
  background-color:#6d5846;
}

/* footer */
.colum1 > h3{
  color: black;
  font-family: arial;
}

.colum2 > h3{
  color: black;
  font-family: arial;
}

.redes{
  float: left;
  width: 5rem;
  height: 5rem;
  margin-left: 2.5rem;
}

.redes:hover{
  background-color:#6d5846;
}

.valoraciones:hover {
  background-color: rgba(109, 88, 70, 0.7);
}

.footer{
  background-color: white;
  width: 100%;
  height: auto;
}

@media (max-width: 500px){
  .colum1{
    margin-top: 2rem;
    padding-right: 2rem;
  }

  .redes{
    float: left;
    width: 5rem;
    height: 5rem;
    margin-left: 1.2rem;
  }

}


/*POLITICAS DE PRIVACIDAD*/
.destacado > b{
  color: #66462C;
}

@media (max-width: 500px){
.destacado > b{
  color: #66462C;
}
}

/*SOBRE NOSOTROS*/
#banner_sobrenosotros{
background-image:url("../views/imagenes/sobrenosotros_11.webp");
background-attachment: scroll;
background-repeat: no-repeat;
background-size: 100% 100%;
text-align: left;
padding: 0;
}

.bannersobrenosotros{
background: rgba(29, 29, 29, 0.4);
padding: 8%;
}

@media (max-width: 500px) {
#banner_sobrenosotros{
  visibility: visible;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: left;
  padding: 0;
  }

.bannersobrenosotros{
  background: rgba(29, 29, 29, 0.4);
  padding: 8%;
}

.foto1{
  width: 60vw;
  height: auto;
}

#segundaseccion{
  padding-right: 2.5rem;
}

.foto2{
  width: 60vw;
  height: auto;
  max-width: 100%;
  margin-left: 2rem;
}

.textito{
  margin-right: 1rem!important;
}

.textito2{
  margin-left: 1rem!important;
}
}

@media (min-width: 501px){
  .foto1{
    width: 35vw;
    height: auto;
    max-width: 100%;
  }
  
  .textito{
    width: 100%;
    height: auto;
    text-align: center;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  #segundaseccion{
    width: 100%;
    height: auto;
  }

  .foto2{
    width: 35vw;
    height: auto;
    max-width: 100%
  }

}


/*TIENDA*/
#banner_tienda{
  background-image:url("../views/imagenes/bannertienda.webp");
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-align: left;
  padding: 0;
  }
  
  .bannertienda{
  background: rgba(29, 29, 29, 0.4);
  padding: 8%;
  }
  
  @media (max-width: 500px) {
  #banner_tienda{
    visibility: visible;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
    padding: 0;
    }
  
  .bannertienda{
    background: rgba(29, 29, 29, 0.4);
    padding: 7%;
  }

  .productoimagen{
    width: 30vw;
    max-width: 100%;
    height: 12vh;
  }

  .articulomovil{
    width: 50%;
    height: auto;
  }

}
@media (min-width: 500.1px){
  .productoimagen{
    width: 15vw;
    max-width: 100%;
    height: 25vh;
  }
  
  .productodescripcion{
    padding-left: 20%;
    padding-right: 20%;
    height: 5rem;
  }

  .productodescripcio2{
    padding-left: 24%;
    padding-right: 24%;
    height: 5rem;
  }

  .fotito{
    width: 20vw;
    height: 25vh;
  }
} 

/*CARRITO*/

@media (max-width: 500px){
  .titulocarrito{
    font-size: 0.8rem!important;
  }
  .divtitulocarrito{
    padding: 0rem;
    padding-left: 1.4rem;
  }
  #carritocompra{
    padding: 0;
  }

  .noproducto{
    width: 100%;
    text-align: center;
    padding-right:1rem;
  }

  .carritoimg{
    width: 35vw;
    max-width: 100%;
    height: auto;
  }

  .carritodesc{
    font-size: 0.7rem!important;
    padding-left: 0.3rem;
    margin-left: 1rem;
  }

  .desccarrito{
    width: 6rem;
    height: auto;
  }
  .carritoboton1{
    margin-top: 1rem!important;
    margin-left: 0.4rem!important;
    width: 30px;
    height: 30px;
    border-radius: 0px;
    font-size:1rem;
    font-family: arial;
    margin:auto;
    text-align: center;
    background-color:#66462C;
  }

  .carritocantidad{
    padding-top: 1.20rem;
    margin-left: 0.6rem;
    width: 1rem;
  }

  .divcarritocantidad{
    width: 1rem;
  }

  .carritoboton2{
    margin-top: 1rem!important;
    margin-left: 0.5rem!important;
    width: 30px;
    height: 30px;
    padding: 0;
    border-radius: 0px;
    font-size:1rem;
    font-family: arial;
    margin:auto;
    text-align: center;
    background-color:#66462C;
  }

  .carritoprecio{
    margin-top: 2.2rem!important;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .divpreciomovil{
    width: 2rem;
    height: auto;
  }
  
  .lineacarrito{
    height: 2px;
    color: white;
    margin-top: 6px!important;
  }

  /*Si no hay producto*/
  .ultimopedido{
    width: 160px;
    height: 36px;
    border-radius: 0px;
    font-size:1rem;
    font-family: arial;
    margin:auto;
    text-align: center;
    background-color:#66462C;
    margin-right: 1rem;
  }
  
  .ultimopedido:hover{
    background-color:#6d5846;
  }
}

@media (min-width: 501px){
  .titulocarrito{
    padding-left: 4rem;
  }
  
  .carritoimg{
    width: 13vw;
    padding-right: 1.5rem;
    max-width: 100%;
    height: auto;
  }

  .carritodesc{
    padding-left: 1.75rem;
    padding-right: 1.25rem;
    padding-top: 4.2rem;
  }

  .carritocantidad{
    padding-top: 4.8rem;
    margin-left: 2rem;
    width: 1rem;
  }

  .divcarritocantidad{
    width: 2rem;
  }
  .carritoboton1{
    margin-top: 4.5rem!important;
    margin-left: 3.5rem!important;
    width: 50px;
    height: 36px;
    border-radius: 0px;
    font-size:1rem;
    font-family: arial;
    margin:auto;
    text-align: center;
    background-color:#66462C;
  }
  .carritoboton2{
    margin-top: 4.5rem!important;
    margin-left: 3rem!important;
    width: 50px;
    height: 36px;
    padding: 0;
    border-radius: 0px;
    font-size:1rem;
    font-family: arial;
    margin:auto;
    text-align: center;
    background-color:#66462C;
  }

  .carritoprecio{
    margin-top: 5.9rem!important;
    padding-right: 3.5rem;
  }

  .lineacarrito{
    height: 2px;
    color: white;
  }

  /*Si no hay producto*/
  .noproducto{
    padding-top: 10rem;
    width: 100%;
    padding-right: 30%;
    padding-left: 28%;
  }

  .ultimopedido{
    width: 160px;
    height: 36px;
    border-radius: 0px;
    font-size:1rem;
    font-family: arial;
    margin:auto;
    text-align: center;
    background-color:#66462C;
    margin-right: 2rem; 
  }
  
  .ultimopedido:hover{
    background-color:#6d5846;
  }
}

/* PEDIDO CONFIRMADO */
@media (min-width: 501px){
    .carritocantidad2{
      padding-top: 5rem;
      padding-left: 8.5rem;
      width: 1rem;
      height: 1rem;
    }
  
    .divcarritocantidad2{
      width: 2rem!important;
    }

    .carritoprecio2{
      margin-bottom: 4rem!important;
      padding-right: 3.5rem;
      margin-left: 26rem;
      padding-bottom: 2rem;
      height:100%;
    }

    .divpreciomovil2{
      width: 4rem;
    }
  }

@media (max-width: 500px){
  .carritocantidad2{
    padding-top: 1.5rem;
    padding-left: 2.5rem;
    width: 1rem;
  }

  .divcarritocantidad2{
    width: 2rem!important;
  }

  .carritoprecio2{
    margin-bottom: 4rem!important;
    padding-right: 3.5rem;
    margin-left: 6.4rem;
  }

  .divpreciomovil2{
    width: 4rem;
  }
}

/* LOGIN */
.form-login {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

@media (max-width: 767px) {
  .form-login {
    width: 90%;
  }
}

.form-login label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;
}

@media (max-width: 501px) {
  input[type="email"],
  input[type="password"] {
    width: 100%;
  }
}

button.login {
  background-color: #66462C;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

button.login:hover {
  background-color: #5B3E23;
}

.productodescripcion2 {
  padding-left: 20%;
  padding-right: 20%;
  height: 5rem;
  font-size: 0.875rem;
  margin-top: 20px;
  text-align: center;
}

.enlacearegistro {
  color: blue;
}

/* REGISTRO */

.form-registro {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  margin: 100px auto;
  text-align: center;
}

@media (max-width: 501px) {
  .form-registro {
    width: 90%;
  }
}

.form-registro label {
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
}

.form-registro input[type="email"],
.form-registro input[type="password"],
.form-registro input[type="text"],
.form-registro input[type="number"],
.form-registro input[type="YYYY-MM-DD"] {
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;

}

.form-registro .registro {
  background-color: #66462C;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.form-registro .registro:hover {
  background-color: #9a7d54;
}
.form-registro select{
  padding: 10px;
  margin-bottom: 20px;
  width: 80%;
  border-radius: 5px;
  border: 1px solid gray;
  font-size: 1rem;
}
/* Panel Pedido */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col {
  flex: 1;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col img {
  width: 75%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.col h3 {
  text-align: center;
}

.col p {
  text-align: center;
}


.edit-button{
  width: 15rem;
  margin-top: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #66462C;
  color: white;
}

.delete-button {
  width: 15rem;
  margin-top: 16px;
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: red;
  color: white;
}
/*Hover para los botones editar y borrar */
.edit-button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.delete-button:hover{
  cursor: pointer;
  opacity: 0.8;
}
/* Botón */
.anadirproducto {
  background-color: #764c1e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}

.anadirproducto:hover {
  background-color: #9e6c29;
  cursor: pointer;
}

.edit-button:hover{
  cursor: pointer;
  opacity: 0.8;
}

/* Añadir Producto */
.contenedor-formulario {
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}

/* Estilos para los títulos */
.titulo {
  text-align: center;
  margin-bottom: 20px;
}

/* Estilos para los campos de texto */
.campo-texto {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilos para los botones */
.boton {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para el desplegable */
.desplegable {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.boton-formulario{
  background-color: #764c1e;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: auto;
}
/* Panel Usuarios */
.user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.columnita {
  width: 30%;
  padding: 10px;
  text-align: center;
  margin-bottom: 20px;
}

.columnita p {
  margin: 0;
}

@media (max-width: 768px) {
  .columnita {
    width: 100%;
  }
}

/* Ver pedidos */
hr {
  border-top: 1px solid #bbb;
  margin: 20px 0;
}

/* Ver Valoraciones */

.form-registro input[type="hidden"],
.form-registro button {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

.formulario-registro .star-rating label {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;
	background: url('https://image.flaticon.com/icons/svg/148/148841.svg');
}

.star-rating2 label:hover,
.star-rating2 label:hover ~ label,
.star-rating2 input[type="radio"]:checked ~ label {
  background: url('https://image.flaticon.com/icons/svg/148/148838.svg');
}

.star-rating input,
.star-rating label {
  display: inline-block;
}

.star-rating label{
  margin-top: 2rem;
  margin-right: 2rem;
  margin-left: 2rem;
}

.star-rating2 input[type="radio"]{
  /* margin: 1.95rem; */
  margin-right: 1.95rem;
  margin-left: 1.95rem; 
  margin-bottom: 1.95rem;
}

#comentario {
  border-radius: 5px;
  max-width: 100%;
  width: 23rem;
  height: 100px;
  box-sizing: border-box;
}

#valoraciones-table {
  margin: 20px auto;
  width: 80%;
  border-collapse: collapse;
  background-color: #333;
  color: white;
  font-size: 16px;
  text-align: left;
  border: 1px solid white;
}

#valoraciones-table th,
#valoraciones-table td {
  padding: 8px;
  border: 1px solid white;
}

#valoraciones-table th {
  background-color: #444;
  color: white;
}

#valoraciones-table th:hover {
  background-color: #555;
  color: black;
}

#valoraciones-table tr:hover {
  background-color: #555;
  color: black;
}

#valoraciones-table caption {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

#valoraciones-table th:nth-child(1) {
  width: 15%;
}

#valoraciones-table th:nth-child(2) {
  width: 20%;
}

#valoraciones-table th:nth-child(3) {
  width: 50%;
}

#valoraciones-table th:nth-child(4) {
  width: 15%;
}

/* VALORACIONES */

#popup-1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

#popup-1 #popup-contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
}

#popup-1 #cerrar-popup {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#popup-2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

#popup-2 #popup-contenedor {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  text-align: center;
}

#popup-2 #cerrar-popup-2 {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}